.banner {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:after {
    content: "";
    background-image: linear-gradient(to top, #141414, rgba(#141414, 0.5));
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }

  .bannerTxt {
    max-width: 592px;
    position: relative;
    z-index: 1;

    h1,
    p {
      color: #fff;
    }

    h1 {
      font-size: 6.4rem;
      margin-bottom: 8px;
    }

    p {
      font-size: 1.8rem;
      font-weight: bold;
    }

    .cta {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 24px;

      span {
        font-size: 1.4rem;
        color: #fff;
      }
    }
  }

  .bannerImg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
